.homepage-hero-section {
    height: $homepage-hero-height;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $homepage-hero-color; 
    &.block-section {
        padding-top: 0; 
        padding-bottom: 0; 
    }
    .image-overlay {
        background-color: $image-overlay-bg;
        opacity: $image-overlay-opacity; 
        z-index: 1; 
    }
    .split-hero-bg-container {
        .split-column-bg {
            &.second-image {
                left: auto; 
            }
        }
    }
    .homepage-hero-container {
        z-index: 2;
        position: relative;
        &.split-hero {
            .overlay {
                opacity: 0.9; 
                background-color: $color-primary; 
                border-radius: 25px; 
                border: solid 7px $color-secondary; 

            }
            .homepage-hero-content-wrapper {
                padding: 50px; 
                color: $homepage-hero-color!important; 
             }
            .title-area-container {
                z-index: 9; 
                position: relative;
                .subtitle-wrapper  {
                    font-size: 32px; 
                }
            }
            .button-area-wrapper {
                z-index: 9; 
                position: relative;
                a {
                    background-color: $color-secondary; 
                    color: rgb(10, 58, 5); 
                }
            }
        }
        .homepage-hero-row {
            .homepage-hero-col {
                .homepage-hero-content-wrapper {
                    .title-area-content-wrapper {
                        padding-bottom: 30px; 
                         .title-wrapper {
                            .h1 {
                                font-size: $hero-title-size; 
                            }
                        }
                        .subtitle-wrapper {
                                width: 100%; 
                        }

                    }
                   
                    .button-area-wrapper {
                        text-align: center;
                    }
                }
            }
        }
    }
}