.image-gallery-col {
    .glightbox:focus {
        outline: 3px solid #005fcc;
        outline-offset: 2px;
    }
    img {
        padding-top: 12px; 
        padding-bottom: 12px;  
        transition: all 0.2s ease;
        &:hover {
            transition: all 0.2s ease;
            transform: scale(1.1);
        }
    }
}

.glide__arrow {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    color: $color-light;
    text-transform: uppercase;
    padding: 9px 12px;
    background-color: $color-primary;
    border: 2px solid $color-secondary;
    border-radius: 4px;
    box-shadow: none;
    text-shadow: none;
    opacity: 1;
    cursor: pointer;
    transition: opacity 150ms ease, border 300ms ease-in-out;
    transform: translateY(-50%);
    line-height: 1;
}

.glide__arrow:hover {
    border-color: $color-primary;
}

.glide__slide.image-gallery-col {
    figure {
        // width: 50%; 
    }
}