.wildcards-section {
    .wildcards-container {
        &.wc-border {
            .wildcards-col {
                border-style: double; 
                border-color: $color-primary; 
                padding: 20px; 
                border-width: 15px; 
                border-radius: 15px;
            }
        }
        .wildcards-row {
            .wildcards-col {
                @include media-breakpoint-down(lg) {
                        margin-bottom: 40px; 
                }
             
                .single-wildcard-wrapper {
                   
                    .wildcard-image-wrapper {
                        margin: auto;
                        padding-bottom: $wildcard-element-spacing; 
                        i {
                            font-size: 65px; 
                        }
                        &:has(img) {
                            max-width: 70px;
                        }
                        img {
                            width: 100%; 
                            height: auto; 
                        }
                    }
                    .wildcard-title-wrapper {
                        padding-bottom: $wildcard-element-spacing; 
                    }
                    .wildcard-content-wrapper {
                        padding-bottom: $wildcard-element-spacing; 
                    }
                    .button-area-wrapper {
                        a.pw-solid-button {
                            min-width: auto;
                        }
                    }
                }
            }
        }
    }
}