.social-list {
    display: flex;
    align-items: center;
    justify-content: end; 
    list-style: none;
    margin-bottom: 0; 
    @include media-breakpoint-down(sm) {
        padding-top: 20px; 
        justify-content: center;
    }
    li {
        padding-right: 25px; 
        a {
            color: inherit; 
            text-decoration: none;
            img {
                width: 25px; 
                height: 25px; 
            }
            i {
                font-size: 26px; 
            }
            &:hover {
                color: $color-secondary; 
            }
        }
    }
}